.navbar{
    width: 100%;
    height: 80px;
    background-color: rgb(49, 27, 2);
    display: flex;
    justify-content: flex-end ;
    align-items: center;
}
.links{
    margin-right: 50px;
    display: flex;
    align-items: center;
    color: aqua;
}
.links:active{
    margin-right: 50px;
    display: flex;
    align-items: center;
    color: aqua;
}
.link a{
    text-decoration: none;
    color: aliceblue;
    margin-left: 20px;
}